<template>



  <div class="bg-gray-50 max-w-sm rounded overflow-hidden shadow-lg border-solid border-t-4 border-blue-400" style="position:absolute; top: 50%; left: 50%;  transform: translate(-50%, -50%);">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">SiMusicae</div>
      <p class="text-gray-700 text-base">
        text ez
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <input
          class="mb-5 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full"
          v-bind:value="name"
          v-on:input="name = $event.target.value"
      />
      <button class="btn btn-blue" v-on:click="sendName">
        Creer un groupe
      </button>
    </div>
  </div>


</template>


<script lang="ts">
import {ref, defineComponent} from 'vue'

export default defineComponent({
  name: 'ChanInput',
  props: {
    connexion: {
      type: WebSocket,
      required: true,
    }
  },
  setup: () => {
    let name = ref("")
    return {name}
  },
  methods: {
    sendName(event: any) {
      const ws = this.connexion;
      if( this.name != ""){
       // ws.emit("getInRoom", this.name)
        console.log("go")
        this.$emit('createRoom', this.name)
      }
    }
  },
})
</script>

<style scoped>
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}
</style>