<template>
  <div class="flex flex-row justify-center "
       style="float: none; top: 50%; left: 50%;  transform: translate(-50%, -50%); width: 70%;position: absolute; ">

    <label class="flex flex-col p-4 cursor-pointer" style="width: 250px">
      <!-- SMALL CARD ROUNDED -->
      <div @click='pickedInstruments.includes("drum") ? "": chooseInstrument("drum")'  v-bind:class="[drum ? 'drum' :  pickedInstruments.includes('drum') ? 'Picked': ''] "
           class="bg-gray-100 border-indigo-600 dark:bg-gray-800 bg-opacity-95 border-opacity-60 | p-4 border-solid rounded-3xl border-2 | flex justify-around cursor-pointer | hover:bg-indigo-400 dark:hover:bg-indigo-600 hover:border-transparent | transition-colors duration-500">
        <img class="w-16 h-16 object-cover" src="https://static.thenounproject.com/png/1928105-200.png" alt=""/>
        <div class="flex flex-col justify-center">
          <p class="text-gray-900 dark:text-gray-300 font-semibold">Drum</p>
        </div>
      </div>
    </label>

    <!-- END SMALL CARD ROUNDED -->

    <!-- SMALL CARD ROUNDED -->

    <label class="flex flex-col p-4 cursor-pointer group-focus:bg-blue-700 " style="width: 250px">
      <div @click=' pickedInstruments.includes("bass") ? "":chooseInstrument("bass")' v-bind:class="[bass ? 'bass' :  pickedInstruments.includes('bass') ? 'Picked': '']"
           class=" bg-gray-100 border-red-600 dark:bg-gray-800 bg-opacity-95 border-opacity-60 | p-4 border-solid rounded-3xl border-2 | flex justify-around cursor-pointer | hover:bg-red-400 dark:hover:bg-red-600 hover:border-transparent | transition-colors duration-500 ">
        <img class="w-16 h-16 object-cover" src="../assets/bass.png" alt=""/>
        <div class="flex flex-col justify-center">
          <p class="text-gray-900 dark:text-gray-300 font-semibold">Bass</p>
        </div>
      </div>
    </label>
    <!-- END SMALL CARD ROUNDED -->

    <!-- SMALL CARD ROUNDED -->
    <label class="flex flex-col p-4 cursor-pointer" style="width: 250px">
      <div @click='pickedInstruments.includes("synth1") ? "": chooseInstrument("synth1")' v-bind:class="[synth1 ? 'synth1' :  pickedInstruments.includes('synth1') ? 'Picked': '']"
           class="checked:bg-red-600 | bg-gray-100 border-yellow-600 dark:bg-gray-800 bg-opacity-95 border-opacity-60 | p-4 border-solid rounded-3xl border-2 | flex justify-around cursor-pointer | hover:bg-yellow-400 dark:hover:bg-yellow-600 hover:border-transparent | transition-colors duration-500">
        <img class="w-16 h-16 object-cover" src="https://static.thenounproject.com/png/135576-200.png" alt=""/>
        <div class="flex flex-col justify-center">
          <p class="text-gray-900 dark:text-gray-300 font-semibold">Synth 1</p>
        </div>
      </div>
    </label>
    <!-- END SMALL CARD ROUNDED -->

    <!-- SMALL CARD ROUNDED -->
    <label class="flex flex-col p-4 cursor-pointer" style="width: 250px">
      <div @click='pickedInstruments.includes("synth2") ? "": chooseInstrument("synth2")' v-bind:class="[synth2 ? 'synth2' :  pickedInstruments.includes('synth2') ? 'Picked': '']"
           class=" bg-gray-100 border-green-600 dark:bg-gray-800 bg-opacity-95 border-opacity-60 | p-4 border-solid rounded-3xl border-2 | flex justify-around cursor-pointer | hover:bg-green-400 dark:hover:bg-green-600 hover:border-transparent | transition-colors duration-500">
        <img class="w-16 h-16 object-cover"
             src="https://cdn4.iconfinder.com/data/icons/musical-instruments-27/50/Synthesizer-512.png" alt=""/>
        <div class="flex flex-col justify-center">
          <p class="text-gray-900 dark:text-gray-300 font-semibold">Synth 2</p>
        </div>
      </div>
    </label>
    <!-- END SMALL CARD ROUNDED -->

  </div>
</template>


<script lang="ts">
import {defineComponent, ref} from 'vue'

export default defineComponent({
  name: 'LoginView',
  components: {},
  props: {
    connexion: {
      type: WebSocket,
      required: true,
    },
    pickedInstruments: {
      type: [],
      required: true
    }
  },
  data: () => {
    let drum: any = false
    let bass: any = false
    let synth1: any = false
    let synth2: any = false

    return {drum, bass, synth1, synth2}
  },
  watch: {
    pickedInstruments:  { // watch it
      deep: true,
      handler(newValue, oldValue) {
                console.log(newValue);
            }
    }

  },

  methods: {

    chooseInstrument(instrument: string) {
      console.log(instrument)
      let ws: any = this.connexion

      this.drum = false
      this.bass = false
      this.synth1 = false
      this.synth2 = false
      switch (instrument) {
        case 'drum':
          this.drum = true
          ws.emit('instrument', 'drum')
          break;
        case 'bass':
          this.bass = true
          ws.emit('instrument', 'bass')

          break;
        case 'synth1':
          this.synth1 = true
          ws.emit('instrument', 'synth1')

          break;
        case 'synth2':
          this.synth2 = true
          ws.emit('instrument', 'synth2')

          break;
      }

    },


  },
  created() {

  }
})
</script>

<style>
@tailwind base;
@tailwind components;
@tailwind utilities;
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.drum {
  background-color: #818cf8 !important;
}

.bass {
  background-color: #f87171 !important;

}
.Picked {
  background-color: #9CA3AF !important;

}

.synth1 {
  background-color: #fbbf24 !important;

}

.synth2 {
  background-color: #34d399 !important;

}

/*input:checked + label {*/
/*	border-color: black;*/
/*	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);*/
/*  background-color: blue;*/
/*}*/

</style>