<template>
  <RoomList v-if="!chan" :connexion="connexion" :rooms="rooms" @joinRoom="joinRoom"/>
  ---------------------
  <ChanInput v-if="!chan" :connexion="connexion" @createRoom="createRoom"/>
  <NicknameInput v-if="chan" :connexion="connexion" @addNickname="addNickname"/>
</template>

<script lang="ts">
import {defineComponent, ref} from 'vue'

import ChanInput from "./ChanInput.vue";
import NicknameInput from "./NicknameInput.vue";
import RoomList from "./RoomList.vue";

export default defineComponent({
  name: 'LoginView',
  components: {
    ChanInput,
    NicknameInput,
    RoomList
  },
  props: {
    connexion: {
      type: WebSocket,
      required: true,
    }
  },
  setup: () => {
    let chan: boolean | any = ref(false)
    let rooms: string[] = []
    return {chan, rooms}
  },
  methods: {

    createRoom(roomName: string) {
      const ws: any = this.connexion;
      console.log(roomName, 'roomName')
      if (roomName != "") {
        ws.emit("getInRoom", roomName)
        this.chan = true
        // this.$emit("setRoomName", roomName)

      }
    },
    addNickname(nickName: string) {
      const ws: any = this.connexion;
      console.log(nickName, 'nickName')
      // if (nickName != "") {
        ws.emit("addNickname", nickName)
      //   this.chan = true
        this.$emit("setRoomName", nickName)


    },
    joinRoom(roomName: string) {
      const ws: any = this.connexion
      ws.emit("joinRoom", roomName)
      this.chan = true
      // this.$emit("setRoomName", roomName)


    }


  },
  created() {
    console.log("oui")
    let ws: any = this.connexion

    ws.on('welcom', (msg: string) => {
      console.log(msg)
    })
    ws.onopen = function () {
      console.log('WebSocket Client Connected');
      ws.send('letsgo')
      ws.onmessage = ((ev: any) => {
        console.log(ev.data, "oui")
      })
    };


  }
})
</script>

<style>
@tailwind base;
@tailwind components;
@tailwind utilities;
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

</style>