<template>

  <div class="flex flex-col items-center" >
    <div class="w-full md:w-1/2 flex flex-col items-center h-64">
      <div class="w-full px-4">
        <div class="flex flex-col items-center relative">

          <div
              class="absolute shadow bg-white top-100 z-40 w-full lef-0 rounded max-h-select overflow-y-auto svelte-5uyqqj">
            <div class="flex flex-col w-full">
              <div class="font-bold">
                Rejoindre un groupe
              </div>

              <div v-for="room in rooms" @click="joinRoom(room)"
                   class="cursor-pointer w-full border-gray-100 rounded-t border-b hover:bg-gray-100">
                <div
                    class="flex w-full items-center p-2 pl-2 border-transparent border-l-2 relative hover:border-teal-100">

                  <div class="w-full items-center flex">
                    <div class="mx-2 -mt-1  ">{{ room }}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</template>


<script lang="ts">
import {ref, defineComponent} from 'vue'
import ts from "vue-tsc/typescript/lib/tsserverlibrary";


export default defineComponent({
  name: 'RoomList',
  props: {
    connexion: {
      type: WebSocket,
      required: true,
    }
  },
    data: ()=>{
    return {
      rooms:[""]
    }
  },
  created() {
    this.getRoom()
    const ws: any = this.connexion
    ws.on("newRoom", (room: any) => {
      console.log("NEW ROOM")
      this.getRoom()
    })
    console.log(this.rooms, "created")
  },


  watch: {
    rooms: (rooms) => {
      console.log("UPDATE ROOMS")
    },

  },
  methods: {
    setRooms(temp: any[]) {
      this.rooms = temp
      //this.count += 1
      this.$forceUpdate()
      console.log('setRooms()', this.rooms)
    },
    getRoom() {
      let ws: any = this.connexion

      ws.emit("getListRoom", (activeRooms: any) => {
        let temp: any[] = []
        activeRooms.rooms.forEach((room: string) => {
          temp.push(room)
        })
        //Vue.set(this.rooms, this.rooms.length, activeRooms.rooms[activeRooms.rooms.length - 1])

        this.setRooms(temp)
      })
    },
    joinRoom(room: string) {
      this.$emit('joinRoom', room)
    }
  }
})
</script>

<style scoped>
@tailwind base;
@tailwind components;
@tailwind utilities;
.top-100 {
  top: 100%
}

.bottom-100 {
  bottom: 100%
}

.max-h-select {
  max-height: 300px;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}
</style>