<template>

  <!-- grid background -->

  <!-- content -->
  <LoginView v-if="!room" :connexion="connexion" @setRoomName="setRoomName"/>
  <InstrumentalView  v-if="room" :connexion="connexion" :pickedInstruments="pickedInstruments"/>
  {{room}}

</template>

<script lang="ts">
import {defineComponent, ref} from 'vue'
import LoginView from "./components/LoginView.vue"
import InstrumentalView from "./components/InstrumentView.vue"
import {io} from "socket.io-client";

export default defineComponent({
  name: 'App',
  components: {
    LoginView,
    InstrumentalView
  },

  setup: () => {
    let connexion: any = io.connect("http://localhost:3000");

    return {connexion}
  },
  data: () =>{
    return{
      room: "",
      pickedInstruments: [""]
    }
  },
  methods: {
    setRoomName(roomName: string) {

      this.room = roomName
      console.log(this.room, "aaaaaaaaaaaaaaaaaaaaaaa")
    }
  },
  created() {
    const ws = this.connexion
    ws.on('pickedInstrument', (pickedInstrument: string[]) => {
      console.log(pickedInstrument)
      this.pickedInstruments = pickedInstrument
      console.log(this.pickedInstruments)
    })
  }
})
</script>

<style>
@tailwind base;
@tailwind components;
@tailwind utilities;




#app {

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

</style>
